<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{one_book.title}}
    <br>
    ID: {{one_book.id}}
    <br>
    Description: {{one_book.description}}
    <br>
    <br>
    <br>
    
    Authors:
    {% for author in one_book.authors.all %}
    <p>
        {{author.first_name}} 
    </p>
    {%endfor%}

    <br>
    <br>
    <form action="/manytomany" method="post">
        {%csrf_token%}
        <label for="books">select an author</label>
        <select name="author" id="">
            {% for author in all_authors %}
            <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {%endfor%}
        </select>
        <br>
        <input type="hidden" name="book_id" value="{{one_book.id}}">

        <button type="submit">Add</button>
        
    </form>
    
</body>
</html>